/*-------------------------------------------------
FONTS
-------------------------------------------------*/
@font-face {
    font-family: 'Bonbon';
    src: url('fonts/bonbon_light-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/bonbon_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/bonbon_light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/bonbon_light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/bonbon_light-webfont.ttf')  format('opentype'), /* Safari, Android, iOS */
    url('fonts/bonbon_light-webfont.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Estandar-Bold';
    src: url('fonts/Estandar-Bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/Estandar-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Estandar-Bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Estandar-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Estandar-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Estandar-Bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Estandar-Light';
    src: url('fonts/Estandar-Light-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/Estandar-Light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Estandar-Light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Estandar-Light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Estandar-Light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Estandar-Light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Estandar-ExtraLight';
    src: url('fonts/Estandar-Extra_Light-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/Estandar-Extra_Light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Estandar-Extra_Light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Estandar-Extra_Light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Estandar-Extra_Light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Estandar-Extra_Light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Estandar-Regular';
    src: url('fonts/Estandar-Regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/Estandar-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Estandar-Regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Estandar-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Estandar-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Estandar-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Estandar-SemiBold';
    src: url('fonts/Estandar-SemiBold-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/Estandar-SemiBold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Estandar-SemiBold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/Estandar-SemiBold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Estandar-SemiBold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/Estandar-SemiBold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Merlo-Light';
    src: url('fonts/Merlo-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Merlo-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Merlo-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Merlo-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Merlo-Medium';
    src: url('fonts/Merlo-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Merlo-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Merlo-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Merlo-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}